.customers {
  padding-bottom: 290px;
  &__title {
    @extend .network__title;
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }

  &__text {
    @extend .network__text;
    margin-top: 15px;
    margin-bottom: 70px;
    text-align: center;
  }
}

.slider {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;

  &__item {
    margin: 0 25px;
    padding: 30px;
    width: 384px;
    height: 230px;

    border: 2px solid #f53838;
    border-radius: 10px;
  }

  &__thumb {
    display: flex;
    align-items: center;

    & > img {
      display: block;
      margin-right: 20px;
      width: 50px;
      height: 100%;

      border-radius: 50%;
    }
  }

  &__author-name {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
  }

  &__author-location {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    color: #4f5665;
  }

  &__author-marks {
    display: flex;
    align-items: center;

    margin-left: auto;

    & > span {
      margin-right: 10px;

      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
    }

    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
  }

  &__button--left {
    position: absolute;
    bottom: -120px;
    right: 240px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: transparent;
    border: 2px solid #f53838;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &:focus {
      background-color: #f53838;

      & > svg {
        fill: #fff;
      }
    }

    & > svg {
      width: 30px;
      height: 30px;

      fill: #f53838;
      transition: fill 200ms ease-in-out;
    }
  }

  &__button--right {
    position: absolute;
    bottom: -120px;
    right: 160px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: transparent;
    border: 2px solid #f53838;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 200ms ease-in-out;

    &:hover,
    &:focus {
      background-color: #f53838;

      & > svg {
        fill: #fff;
      }
    }

    & > svg {
      width: 30px;
      height: 30px;

      fill: #f53838;
      transition: fill 200ms ease-in-out;
    }
  }
}
