.subscribe {
  position: absolute;
  top: -70%;
  left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1140px;
  padding: 59px 70px;

  background-color: #fff;
  box-shadow: 0px 48px 68px -94px rgba(13, 16, 37, 1),
    0px -30px 68px -94px rgba(13, 16, 37, 1);

  &__text {
    max-width: 370px;

    &--top {
      display: block;

      margin-bottom: 20px;

      font-weight: 500;
      font-size: 35px;
      line-height: 1.29;
    }

    &--bottom {
      margin: 0;

      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;

      color: #4f5665;
    }
  }

  &__button {
    @extend .hero__button;
    display: block;
  }
}
